:root {
  --heading-background-color: darkblue;
  --text-align: center;
  --border: 1px solid black;
  --margin: 1rem;
  --padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
.grid,
footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; /* shorthand for white */
}

h1 {
  color: var(--heading-background-color);
  border-bottom: var(--border);
}

main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}

aside {
  width: 20rem;
  text-align: var(--text-align);
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 15px;
  left: 110px;
}

footer {
  margin-top: var(--margin);
  border-top: var(--border);
  text-align: var(--text-align);
}

/* Class Selectors */
.box {
  margin: var(--margin);
  border: 1px solid rgb(0 0 0 / 10%);
  padding: var(--padding);
  background-color: #ddd;
  color: #000;
}

.indent {
  margin-top: 7rem;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}
