:root {
  --heading-background-color: darkblue;
  --text-align: center;
  --border: 1px solid black;
  --margin: 1rem;
}

nav {
  background-color: var(--heading-background-color);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: var(--heading-background-color);
}

main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

aside {
  width: 20rem;
  margin: var(--margin);
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: var(--text-align);
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: var(--margin);
  border-top: var(--border);
  text-align: var(--text-align);
}
